.bar{
    width: 100%;
    height: 1px;
    border: 1px solid #bababa;
}
.footer{
    display: flex;
    justify-content: space-between;
}
img{
    width: 16px;
    margin: 5px;
    height: 16px;
}
.foter-outer{
    margin-left: 20px;
    margin-right: 20px;
}